.container {
  border-bottom: 1px solid silver;
  padding: 5px;
}

.container:hover {
  background-color: rgba(255, 155, 0, 0.25);
  cursor: pointer;
}

.last-seen {
  font-size: 0.8em;
  text-align: right;
}

.inline-details {
  text-align: right;
  font-size: 0.5em;
}
